<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body class="body-login-user">

    <%- include('../partials/header.ejs') %>

    <main class="main-register">

        <h1>LOGIN</h1>

        <article class="content-register-wrapper content-login-wrapper ">
            <div class="img-login">
                <img src="/img/articles/img-login.jpg" alt="">
            </div>


            <form class="form-login" action="/user/login" method="post">


                <div class="input-login">
                    <label for="email">Correo electrónico:</label>
                    <input type="text" id="email" autocomplete="on" name="email"
                        class="<%= locals.errors && errors.email ? 'login-input-invalid' : null %>"
                        value="<%= locals.dataOld && dataOld.email ? dataOld.email : null %>">
                        <ul class="errorsLoginMsg error-email"></ul>
                    <% if (locals.errors && errors.email) { %>
                        <span class="errorsLoginMsg"><%= errors.email %> </span>
                    <% } %>
                </div>

                <div class="input-login">
                    <label for="password">Contraseña:</label>
                    <input
                        class="input-passw-register <%= locals.errors && errors.password ? 'login-input-invalid' : null %>"
                        type="password" id="password" name="password"
                        value="<%= locals.dataOld && dataOld.password ? dataOld.password : null %>">
                        <ul class="errorsLoginMsg error-password"></ul>
                    <% if (locals.errors && errors.password) { %>
                    <span class="errorsLoginMsg"><%= errors.password %> </span>
                    <% } %>
                </div>

                <input class="button-register" type="submit" value="Ingresar">

                <div class="input-register2">
                    <input id="recordar" type="checkbox" name="remember">
                    <label for="recordar">RECORDAR CONTRASEÑA</label>
                </div>

                <div class="text-account-register-wrapper">
                    <a class="text-account-register" href="/user/register"><span>¿No tienes un usuario EcoRoot?</span> Crear una cuenta</a>
                </div>
            </form>

        </article>

    </main>

    <!-- <%- include('../partials/footer.ejs') %> -->
    <script src="/js/validations/loginValidation.js" ></script>
</body>

</html>