<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body>

    <%- include('../partials/header.ejs') %>

    <main>

        <div class="container-user-div">



            <h1>¡Bienvenido a configuracion de usuario!</h1>
            <% if (locals.user && locals.user.email) { %>
                <h2><%=user.first_name %> <%= user.last_name %></h2>
            <% } %>

            <% if (locals.user && locals.user.avatar) { %>
                <img class="img-user-page" src="/img/avatars/<%= user.avatar %>" alt="foto de perfil" >
            <% } %>
            <p class="paragraph-user-description">"Viviendo la vida con pasión y escribiendo mi propia historia."</p>
            <div class="content-user-page">
                <div class="user-post content">
                    <a href="#" class="button-edit-user buttons-user" type="submit"><i class="fa-regular fa-paste"></i>Mis publicaciones</a>   
                </div>
            </div>
            <div class="form-user-page">
                <% if (locals.user && locals.user.id) { %>
                    <a href="/user/<%= user.id %>/edit" class="button-edit-user buttons-user" type="submit"><i class="fa-solid fa-pencil"></i>Editar perfil</a>
                    <form  action="/user/<%=user.id%>/delete?_method=DELETE" method="post">
                        <button class="button-delete-user buttons-user" type="submit"><i class="fa-solid fa-user-xmark"></i>Eliminar cuenta</button>
                    </form>
                <% } %>
            </div>

            </button>

        </div>


    </main>

    <%- include('../partials/footer.ejs') %>

</body>

</html>