<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body class="body-user-edit">

    <%- include('../partials/header.ejs') %>

    <main>

        <div class="div-user-edit">
            <h1>Edicion de usuario</h1>


            <form class="form-user-edit" action="/user/<%= user.user_id %>/user?_method=PUT" method="post"
                enctype="multipart/form-data">


                <img class="img-user-edit" src="/img/avatars/<%= user.avatar %>" alt="foto de perfil">
                    <span class="icon-arrow-user-edit-head"><i class="fa-solid fa-angles-down"></i></span>
                <section class="form-create-5">


                    <div class="input-img">
                        <label for="avatar"
                            class="label-avatar-user-edit <%= locals.errors && errors.image ? 'register-label-avatar' : null %>">
                            <span class="avatar-description-userEdit">Agrega tu nuevo avatar</span>
                            <label for="avatar" class="form-dropArea-imgs-singUp custom-file-input-user-edit">
                                <input type="file" id="avatar" name="image" accept="image/*">
                            </label>
                        </label>
                        <ul class="errors-createP-front ul-error-container-avatar error-avatar"></ul>
                        <% if (locals.errors && errors.image) { %>
                        <span class="errorsLoginMsg"><%= errors.image %> </span>
                        <% } %>
                    </div>
                </section>

                <div class="div-contain-divs-max-user-edit">


                    <div class="div-left-user-edit-contain">


                        <div class="input-user-edit">
                            <label for="first_name">Nombre:</label>
                            <input value="<%= locals.user && user.first_name ? user.first_name : null %>" type="text"
                                id="first_name" name="first_name"
                                class="<%= locals.errors && errors.first_name ? 'login-input-invalid' : null %>">
                            <ul class="errors-createP-front error-first-name"></ul>
                            <% if (locals.errors && errors.first_name) { %>
                            <span class="errorsLoginMsg"><%= errors.first_name %> </span>
                            <% } %>
                        </div>

                        <div class="input-user-edit">
                            <label for="last_name">Apellido:</label>
                            <input value="<%= locals.user && user.last_name ? user.last_name : null %>" type="text"
                                id="last_name" name="last_name"
                                class="<%= locals.errors && errors.last_name ? 'login-input-invalid' : null %>">
                            <ul class="errors-createP-front error-last-name"></ul>
                            <% if (locals.errors && errors.last_name) { %>
                            <span class="errorsLoginMsg"><%= errors.last_name %> </span>
                            <% } %>
                        </div>


                        <div class="input-user-edit">
                            <label for="username">Nombre de usuario:</label>
                            <input value="<%= locals.user && user.username ? user.username : null %>" type="text"
                                id="username" name="username"
                                class="<%= locals.errors && errors.username ? 'login-input-invalid' : null %>">
                            <ul class="errors-createP-front error-username"></ul>
                            <% if (locals.errors && errors.username) { %>
                            <span class="errorsLoginMsg"><%= errors.username %> </span>
                            <% } %>
                        </div>

                        <div class="input-user-edit">
                            <label for="email">Correo electrónico:</label>
                            <input value="<%= locals.user && user.email ? user.email : null %>" type="email" id="email"
                                name="email"
                                class="<%= locals.errors && errors.email ? 'login-input-invalid' : null %>">
                            <ul class="errors-createP-front error-email"></ul>
                            <% if (locals.errors && errors.email) { %>
                            <span class="errorsLoginMsg"><%= errors.email %> </span>
                            <% } %>
                        </div>

                        <div class="input-user-edit">
                            <label for="password">Nueva contraseña:</label>
                            <input
                                class="input-passw-register <%= locals.errors && errors.password ? 'login-input-invalid' : null %>"
                                type="password" id="password" name="password">
                            <div class="contain-security-level-password">
                                <span class="security-level"></span>
                                <span class="text-security-password"></span>
                            </div>
                            <ul class="errors-createP-front error-password"></ul>
                            <% if (locals.errors && errors.password) { %>
                            <span class="errorsLoginMsg"><%= errors.password %> </span>
                            <% } %>
                        </div>


                    </div>


                    <div class="div-right-user-edit-contain">

                        <div class="input-user-edit">
                            <label for="country"
                                class="<%= locals.errors && errors.country ? 'register-input-invalid-icon' : null %>">País:</label>
                            <select name="country" id="country"
                                class="countries-select <%= locals.errors && errors.country ? "country-label-Errors" : null %>">
                                <option value="" disabled selected>Selecciona un país</option>
                                <% for (const country of countries) { %>
                                <option value="<%= country %>"
                                    <%= locals.user && (country === user.country) ? 'selected' : null %>><%= country %>
                                </option>
                                <% } %>
                            </select>
                            <ul class="errors-createP-front error-country"></ul>
                            <% if (locals.errors && errors.country) { %>
                            <span class="errorsLoginMsg"><%= errors.country %> </span>
                            <% } %>
                        </div>


                        <div class="input-user-edit">
                            <label for="city">Ciudad:</label>
                            <input value="<%= locals.user && user.city ? user.city : null %>" type="text" id="city"
                                name="city" class="<%= locals.errors && errors.city ? 'login-input-invalid' : null %>">
                            <ul class="errors-createP-front error-city"></ul>
                            <% if (locals.errors && errors.city) { %>
                            <span class="errorsLoginMsg"><%= errors.city %> </span>
                            <% } %>
                        </div>


                        <div class="input-user-edit">
                            <label for="address">Dirección:</label>
                            <input value="<%= locals.user && user.address ? user.address : null %>" type="text"
                                id="address" name="address"
                                class="<%= locals.errors && errors.address ? 'login-input-invalid' : null %>">
                            <ul class="errors-createP-front error-address"></ul>
                            <% if (locals.errors && errors.address) { %>
                            <span class="errorsLoginMsg"><%= errors.address %> </span>
                            <% } %>
                        </div>

                        <div class="input-user-edit ">
                            <label for="birthDate"
                                class="<%= locals.errors && errors.birthDate ? 'register-input-invalid-icon' : null %>">Fecha
                                de
                                nacimiento</label>
                            <input type="date" id="birthDate" name="birthDate"
                                class="<%= locals.errors && errors.birthDate ? "birthDate-input-Errors" : null %>"
                                value="<%= locals.user && user.birthDate ? user.birthDate : null %>">
                            <ul class="errors-createP-front error-birth-date"></ul>
                            <% if (locals.errors && errors.birthDate) { %>
                            <span class="errorsLoginMsg"><%= errors.birthDate %> </span>
                            <% } %>
                        </div>


                        <div class="input-user-edit select-hidden">
                            <label for="gender"
                                class="<%= locals.errors && errors.gender ? 'register-input-invalid-icon' : null %>">Genero:</label>
                            <select name="gender" id="gender"
                                class="select-gender <%= locals.errors && errors.gender ? "country-label-Errors" : null %>">
                                <option value="" selected>Selecciona un genero</option>
                                <option value="male" <%= locals.user && (user.gender === 'male') ? 'selected' : null %>>
                                    Masculino</option>
                                <option value="female"
                                    <%= locals.user && (user.gender === 'female') ? 'selected' : null %>>
                                    Femenino</option>
                            </select>
                            <ul class="errors-createP-front error-gender"></ul>
                            <% if (locals.errors && errors.gender) { %>
                            <span class="errorsLoginMsg"><%= errors.gender %> </span>
                            <% } %>
                        </div>

                    </div>

                </div>


                <input class="button-register" type="submit" value="Actualizar información">

            </form>
    </main>
    <script src="/js/validations/editUserValidation.js"></script>
</body>

</html>