<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body>

    <%- include('../partials/header.ejs') %>

    <main>

        <article class="article-container">
            <div class="container-cards-checkout">

                <% let totalCartPrice = 0; %>

                <% cartProducts.forEach(function(product) { %>
                    <section class="content-article">
                        <img src="/img/products/<%= product.products.image %>" alt="Imagen producto" />
                        <div class="quantity-prod">
                            <div class="content-title">
                                <b class="titulo-producto"><%= product.products.name %></b>
                                <form method="POST" action="/products/cart/<%= product.products.product_id %>/delete?_method=DELETE" >
                                    <button type="submit"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
                                </form>
                            </div>
                            <div class="content-price-arrows">
                                <form method="POST" action="/products/cart/<%= product.products.product_id %>/update?_method=PUT&action=increase">
                                    <button type="submit"><i class="fa-solid fa-plus"></i></button>
                                </form>
                                    <b class="cantidad-seleccionada"><%= product.products.ProductCart.quantity %></b>
                                <form method="POST" action="/products/cart/<%= product.products.product_id %>/update?_method=PUT&action=decrease">
                                    <button type="submit"><i class="fa-solid fa-minus"></i></button>
                                </form>
                                <b class="price"> X </b>
                                <b class="price"> $ <%= (product.products.price * product.products.ProductCart.quantity).toFixed(2) %> </b>
                            </div>
                        </div>
                    </section>
                    <% totalCartPrice += product.products.price * product.products.ProductCart.quantity; %>
                    <% }); %>
                    
                    <div class="monto-total-compra">
                        TOTAL: $ <%= totalCartPrice.toFixed(2) %>
                    </div>
                
            </div>




           <section class="data-container">

                <div class="data-entry-box">    

                    <div class="contain-info-user-cart">
                        <span>Informacion de compra</span>
                        <img src="/img/avatars/<%= locals.user && user.avatar ? user.avatar : null %>" alt="Foto de Perfil" class="profile-pic">
                    </div>
                    <div class="container-data-cartUser">
                        <p class="cart-data-user-paragraph">Nombre: <span><%= locals.user && user.first_name ? user.first_name : null %> <%= locals.user && user.last_name ? user.last_name : null %></span></p>
                        <p class="cart-data-user-paragraph">Pais: <span><%= locals.user && user.country ? user.country : null %></span></p>
                        <p class="cart-data-user-paragraph">Ciudad: <span><%= locals.user && user.city ? user.city : null %></span></p>
                        <p class="cart-data-user-paragraph">Domicilio: <span><%= locals.user && user.address ? user.address : null %></span></p>
                    </div>
                    <div class="button-contain-checkout">
                        <form method="POST" action="/user/order/create">         
                            <button type="submit" class="pay-button">
                                <P><%= totalCartPrice.toFixed(2) %></P>
                                <p>CHECKOUT</p>
                            </button>
                        </form> 
                    </div>
                    
                </div>
            
            </section>

        </article>

    </main>

    <%- include('../partials/footer.ejs') %>

</body>

</html>