<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body>

    <%- include('../partials/header.ejs') %>

    <main>

        <section class="paragraph-head-main">
            <img src="/img/backgrounds/img-plants-flyer.jpg" alt="">
            <p>Descubre una amplia gama de productos conscientes con el medio ambiente que te permitirán vivir de forma
                más sostenible.</p>
        </section>

        <article class="main-products-category-container">

            <div class="container-name-category-cards">

                <section class="seccion-category-name">
                    <div class="title-categoty-product-contain">
                        <span>Todos los productos</span>
                    </div>

                    <form action="/products/search" method="get" class="form-product-search">
                        <div  class="input-search-product-contain">
                            <input type="search" id="search" name="search" placeholder="Busca un producto">
                            <button type="submit">Buscador</button>
                        </div>
                    </form>
                </section>


                <article id="cards-products-container">

                    <% products.forEach(product => { %>
                        <a class="product-card" href="/products/<%= product.product_id %>/detail">
                            <section class="card">
                                <img src="/img/products/<%= product.image %>" alt="imagen del producto">
                                <div class="content-card-container">
                                    <section class="contain-content-card-1">
                                        <div class="description">
                                            <span><%= product.name %></span>
                                            <p>Ref: <span><%= product.product_id %> </span></p>
                                            <p> Categoria: <span><%= product.productCategory.category_name %></span></p>
                                        </div>
                                        <div class="stars">
                                            <span class="material-symbols-outlined">star</span>
                                            <span class="material-symbols-outlined">star</span>
                                            <span class="material-symbols-outlined">star</span>
                                            <span class="material-symbols-outlined">star</span>
                                            <span class="material-symbols-outlined">star</span>
                                        </div>
                                    </section>
                        
                                    <section class="contain-content-card-2">
                                        <a href="#"><button class="button"><span class="material-symbols-outlined">add_shopping_cart</span></button></a>
                                        <div class="price">
                                            <% if(product.discount === '0.00') { %>
                                                <span></span>
                                            <% }else { %> 
                                                <span class="descuento"><%= product.discount %>% OFF</span>
                                            <% } %>
                                            <span class="total">$ <%= product.price %></span>
                                        </div>
                                    </section>
                                </div>
                            </section>
                        </a>
                    <% }) %>
                    
                    
                </article>


            </div>

        </article>


    </main>

    <%- include('../partials/footer.ejs') %>

</body>

</html>