<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body>

    <%- include('../partials/header.ejs') %>

    <main>
        <section id="main-productDetail">
            <article class="top-product-detail-container">
                <div class="img-card-val-wrapper">
                    <img class="img-primary" src="/img/products/img-jabon.jpg" alt="">
                    <div class="imgs-card-val-carrousel-wrapper">
                        <img src="/img/products/img-jabon.jpg" alt="">
                        <img src="/img/products/img-jabon.jpg" alt="">
                        <img src="/img/products/img-jabon.jpg" alt="">
                    </div>
                </div>

                <section class="contain-right-detail-content">
                    <div class="title-1-detail-container">
                        <h1 class="title-1-product-detail"><%= product.name %> </h1>
                        <div class="button-actions-detail">
                            <a href="/products/<%= product.id %>/edit"><i class="fa-solid fa-pencil"></i></a>
                            <form action="/products/<%= product.id %>/delete?_method=DELETE" method="post">
                                <button><i class="fa-solid fa-trash"></i></button>
                            </form>
                        </div>
                    </div>
                    <article class="content-text-detail">
                        <h2><%= product.category %></h2>
                        <p><%= product.description %></p>
                    </article>
                    <!--                     <div class="container-stars-val">
                        <div class="stars-detail">
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                        </div>
                        <p>0 Opiniones</p>
                    </div> -->
                    <div class="price-detail-wrapper">
                        <span class="descuento"><%= product.discount %>% OFF</span>
                        <span class="price"> $ <%= product.price.toFixed(2) %></span>
                    </div>
                    <div class="buttons-detail-container">
                        <span class="color-detail-text">Color</span>
                        <div class="button-selector-detail">
                            <% if (product.color === 'NaN' || product.color === null) { %>
                            <button>No disponible</button>
                            <% } else {%>
                            <button><%= product.color %></button>
                            <% } %>
                            <span class="material-symbols-outlined">expand_more</span>
                        </div>
                        <div class="button-selector-detail button-detail-2">
                            <button><%= product.material %></button>
                            <span>Material</span>
                        </div>
                        <div class="button-cart-add-detail">
                            <button>AGREGAR AL CART</button>
                            <span><%= product.united %></span>
                        </div>

                    </div>
                </section>
            </article>

            <section>
                <div class="text-seccion-val-bottom">
                    <div class="text-title-val-bottom">
                        <p>Jabon biodegradable</p>
                        <span>Opiniones: 3</span>
                    </div>
                    <div class="text-reviews-val-bottom">
                        <p>5.0</p>
                        <div class="stars">
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                            <span class="material-symbols-outlined">star</span>
                        </div>
                    </div>
                </div>
            </section>
            <article class="cards-val-bottom-container">


                <div class="card-val">
                    <section class="name-card-val">
                        <img src="/img/logos/user.jpg" alt="">
                        <div class="reviews-contain">
                            <span>Andrea</span>
                            <div class="stars">
                                <span class="material-symbols-outlined">star</span>
                                <span class="material-symbols-outlined">star</span>
                                <span class="material-symbols-outlined">star</span>
                                <span class="material-symbols-outlined">star</span>
                                <span class="material-symbols-outlined">star</span>
                            </div>
                        </div>
                    </section>
                    <p class="paragraph-card-val">
                        Lorem ipsum dolor sit amet consectetur. Non tempus ullamcorper vestibulum tellus. Ac mattis
                        blandit rutrum ipsum nulla proin. Malesuada malesuada malesuada nam auctor.
                    </p>
                </div>

            </article>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>

</body>

</html>