<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body id="create-product-body">

    <%- include('../partials/header.ejs') %>


    <main class="main-create-category">
        <seccion class="header-create">
            <h1>Creacion de producto</h1>
            <img src="/img/logos/eco.png" alt="Logo-article">
        </seccion>

        <form class="form-create-1" action="/products" method="post" enctype="multipart/form-data">

            <article class="container-cards-category">
                
                <div class="condition-text-header">
                    <span class="text-title <%= locals.errors && errors.category ? "is-invalid" : null %>">¡Hola! Antes
                        que nada cuéntanos, ¿qué vas a publicar?</span>
                        <span class="text-step">Paso 1 de 6</span>
                        <ul class="errors-createP-front error-category"></ul>
                        <% if (locals.errors && errors.category) { %>
                            <span class="errorsCreateProduct"><%= errors.category %> </span>
                            <% } %>
                        </div>
                        
            <% locals.category.forEach((category) => { %>
                    <label class="categoryCards">
                        <input type="radio" name="category" value="<%= category.category_id %>" class="radio-input"
                            <%= locals.formDataOld && formDataOld.category === 'Cuidado personal' ? 'checked=checked' : null %>>
                        <span class="custom-radio"><i class="fa-regular fa-circle-check"></i></span>
                        <img src="/img/categories/<%= category.image %>" alt="">
                        <span><%= category.category_name %></span>
                    </label>
            <% }); %>
            
        </article>



            <section class="container-information-form">

                <div class="condition-text-header">
                    <span class="text-title">Completa la información de tu producto</span>
                    <span class="text-step">Paso 2 de 6</span>
                </div>

                <article class="form-information-items-wrapper">


                    <section class="section-1-information">

                        <div class="input-information-container">
                            <label for="name">Nombre del Producto:</label>
                            <input type="text" id="name"
                                value="<%= locals.formDataOld && formDataOld.name ? formDataOld.name : null %>"
                                name="name" class="<%= locals.errors && errors.name ? "is-invalid" : null %>">
                                <ul class="errors-createP-front error-name"></ul>
                            <% if (locals.errors && errors.name) { %>
                            <span class="errorsCreateProduct"><%= errors.name %> </span>
                            <% } %>
                        </div>

                        <div class="input-information-container input-register">
                            <label for="brand">Marca:</label>
                            <select id="brand" name="brand" class=" countries-select <%= locals.errors && errors.brand ? "is-invalid" : null %>">
                                <option value="">Selecciona una marca</option>
                                <% for (const brand of brands) { %>
                                    <option value="<%= brand.brand_id %>"
                                        <% if (locals.formDataOld && formDataOld.brand == brand.brand_id) { %>
                                            selected 
                                        <% } %>
                                    ><%= brand.brand_name %></option>
                                <% } %>
                            </select>
                            <ul class="errors-createP-front error-brand"></ul>
                            <% if (locals.errors && errors.brand) { %>
                                <span class="errorsCreateProduct"><%= errors.brand %> </span>
                            <% } %>
                        </div>
                        

                        <div class="input-information-container input-register">
                            <label for="color">Color:</label>
                            <select id="color" name="color" class=" countries-select<%= locals.errors && errors.color ? "is-invalid" : null %>">
                                <option value="">Selecciona un color</option>
                                <% for (const color of colors) { %>
                                    <option value="<%= color.color_id %>"
                                        <% if (locals.formDataOld && formDataOld.color == color.color_id) { %>
                                            selected
                                        <% } %>
                                    ><%= color.color_name %></option>
                                <% } %>
                            </select>
                            <ul class="errors-createP-front error-color"></ul>
                            <% if (locals.errors && errors.color) { %>
                                <span class="errorsCreateProduct"><%= errors.color %> </span>
                            <% } %>
                        </div>

                    </section>


                    <section class="section-2-information">
                        <div class="input-information-container">
                            <label for="united">Unidades:</label>
                            <input type="number" id="united"
                                value="<%= locals.formDataOld && formDataOld.united ? formDataOld.united : null %>"
                                name="united" class="<%= locals.errors && errors.united ? "is-invalid" : null %>">
                            <ul class="errors-createP-front error-united"></ul>
                            <% if (locals.errors && errors.united) { %>
                            <span class="errorsCreateProduct"><%= errors.united %> </span>
                            <% } %>
                        </div>

                        <div class="input-information-container">
                            <label for="discount">Descuento</label>
                            <input type="number" id="discount"
                                value="<%= locals.formDataOld && formDataOld.discount ? formDataOld.discount : null %>"
                                name="discount" placeholder="%"
                                class="<%= locals.errors && errors.discount ? "is-invalid" : null %>">
                                <ul class="errors-createP-front error-discount"></ul>
                            <% if (locals.errors && errors.discount) { %>
                            <span class="errorsCreateProduct"><%= errors.discount %> </span>
                            <% } %>
                        </div>

                        <div class="input-information-container">
                            <label for="material">Material:</label>
                            <div>
                                <input type="text" id="material"
                                    value="<%= locals.formDataOld && formDataOld.material ? formDataOld.material : null %>"
                                    name="material"
                                    class="<%= locals.errors && errors.material ? "is-invalid" : null %>">
                            </div>
                            <ul class="errors-createP-front error-material"></ul>
                            <% if (locals.errors && errors.material) { %>
                            <span class="errorsCreateProduct"><%= errors.material %> </span>
                            <% } %>
                        </div>
                    </section>

                </article>

            </section>




            <article class="form-condition-items-wrapper">
                <section class="condition-container">


                    <div class="condition-text-header">
                        <span class="text-title <%= locals.errors && errors.state ? "is-invalid" : null %>">¿Cuál es
                            la condición de tu producto?</span>
                        <span class="text-step">Paso 3 de 6</span>
                    </div>

                    <div class="condition-form">
                        <label class="estado-label">
                            <input type="radio" name="state" value="New" class="radio-input-condition"
                                <%= locals.formDataOld && formDataOld.state === 'New' ? 'checked=checked' : null %>>
                            Nuevo
                            <span class="artificial-radio"><i class="fa-regular fa-circle-check"></i></span>
                        </label>

                        <label class="estado-label">
                            <input type="radio" name="state" value="Used" class="radio-input-condition" 
                            <%= locals.formDataOld && formDataOld.state === "Used" ? 'checked=checked' : null %>>
                            Usado
                            <span class="artificial-radio"><i class="fa-regular fa-circle-check"></i></span>
                        </label>
                    </div>
                    <ul class="errors-createP-front error-state"></ul>
                    <% if (locals.errors && errors.state) { %>
                        <span class="errorsCreateProduct"><%= errors.state %> </span>
                    <% } %>

                </section>

                <hr>


                <section class="form-create-5">
                    <div class="text-header-create-container">
                        <span class="title-step-5 <%= locals.errors && errors.image ? "is-invalid" : null %>">Completa
                            la información de tu producto</span>
                        <span class="step-5">Paso 4 de 6</span>
                        <p class="paragraph-step-5">Para no perder exposición, asegúrate de que la primera foto tenga
                            fondo
                            blanco puro creado
                            con un editor de fotos.</p>
                    </div>

                    <label for="image"
                        class="form-dropArea-imgs <%= locals.errors && errors.image ? "inputImage-Error" : null %>">
                        <i class="fa-solid fa-camera"></i>
                        <label for="image" class="custom-file-input">
                            <input type="file" id="image" name="image" accept="image/*">
                        </label>
                    </label>
                    <ul class="errors-createP-front error-image"></ul>
                    <% if (locals.errors && errors.image) { %>
                    <span class="errorsCreateProduct"><%= errors.image%> </span>
                    <% } %>
                </section>


            </article>


            <!-- ------------------------------------ -->

            <article class="form-descriptionPrice-items-wrapper">

                <section class="form-create-4">
                    <div class="text-header-create-container">
                        <span
                            class="title-step-4 <%= locals.errors && errors.description ? "is-invalid" : null %>">¿Cuál
                            es la condición de tu producto?</span>
                        <span class="step-4">Paso 5 de 6</span>
                        <p class="description-pharagraph">No incluyas datos de contacto, como e-mails, teléfonos,
                            direcciones, links ni referencias a
                            sitios
                            externos. Tampoco uses este espacio para indicar la condición de tu producto.</p>
                    </div>
                    <section>

                        <div class="description-container">
                            <textarea id="descripcion" name="description" maxlength="400" rows="4" cols="50"
                                class="description-box <%= locals.errors && errors.description ? "textArea-Description-Error" : null %>"><%= locals.formDataOld && formDataOld.description ? formDataOld.description : null %></textarea>
                        </div>
                        <div class="div-msg-description-Error">
                            <ul class="errors-createP-front error-description"></ul>
                            <% if (locals.errors && errors.description) { %>
                            <span class="errorsCreateProduct"><%= errors.description%>
                            </span>
                            <% } %>
                        </div>
                    </section>
                </section>

                <hr>

                <section class="form-create-6">
                    <div class="text-header-create-container">
                        <span class="title-step-6">Para terminar, definamos las condiciones de venta</span>
                        <span class="step-6">Paso 6 de 6</span>
                    </div>

                    <div class="form-image-price">

                        <div class="input-information-container">
                            <label for="price" class="priceText">¿Cuál es el precio?</label>
                            <input type="number"
                                value="<%= locals.formDataOld && formDataOld.price ? formDataOld.price : null %>"
                                id="price" name="price" min="0" step="0.01" placeholder="$"
                                class="<%= locals.errors && errors.price ? "is-invalid" : null %>">
                            <ul class="errors-createP-front error-price"></ul>
                            <% if (locals.errors && errors.price) { %>
                            <span class="errorsCreateProduct"><%= errors.price%> </span>
                            <% } %>
                        </div>
                    </div>
                </section>
            </article>


            <div class="buttons-submit-step-5-6">
                <button type="submit" id="submit" class="submit-create-form-container"> Crear producto
                </button>
            </div>
        </form>



    </main>
    <script src="/js/validations/createProductValidation.js"></script>
</body>

</html>