<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body id="body-create-category">

    <%- include('../partials/header.ejs') %>


    <main class="main-create-category">
        <seccion class="header-create">
            <h1>Creacion de producto</h1>
            <img src="/img/logos/eco.png" alt="Logo-article">
        </seccion>

        <form class="form-create-1" action="/products" method="post" enctype="multipart/form-data">

            <article class="container-cards-category">

                <div class="condition-text-header">
                    <span class="text-title <%= locals.errors && errors.category ? "is-invalid" : null %>">¡Hola! Antes
                        que nada cuéntanos, ¿qué vas a publicar?</span>
                    <span class="text-step">Paso 1 de 6</span>
                    <% if (locals.errors && errors.category) { %>
                    <span class="errorsCreateProduct"><%= errors.category %> </span>
                    <% } %>
                </div>

                <label class="categoryCards">
                    <input type="radio" name="category" value="Cuidado personal" class="radio-input"
                        <%= locals.formDataOld && formDataOld.category === 'Cuidado personal' ? 'checked=checked' : null %>>
                    <span class="custom-radio"><i class="fa-regular fa-circle-check"></i></span>
                    <img src="/img/categories/personal.png" alt="">
                    <span>Cuidado personal</span>
                </label>

                <label class="categoryCards">
                    <input type="radio" name="category" value="Moda" class="radio-input"
                        <%= locals.formDataOld && formDataOld.category === 'Moda' ? 'checked=checked' : null %>>
                    <span class="custom-radio"><i class="fa-regular fa-circle-check"></i></span>
                    <img src="/img/categories/moda.png" alt="">
                    <span>Moda sostenible</span>
                </label>

                <label class="categoryCards">
                    <input type="radio" name="category" value="Hogar" class="radio-input"
                        <%= locals.formDataOld && formDataOld.category === 'Hogar' ? 'checked=checked' : null %>>
                    <span class="custom-radio"><i class="fa-regular fa-circle-check"></i></span>
                    <img src="/img/categories/planet.png" alt="">
                    <span>Hogar</span>
                </label>

                <label class="categoryCards">
                    <input type="radio" name="category" value="Joyeria" class="radio-input"
                        <%= locals.formDataOld && formDataOld.category === 'Joyeria' ? 'checked=checked' : null %>>
                    <span class="custom-radio"><i class="fa-regular fa-circle-check"></i></span>
                    <img src="/img/categories/joyeria.png" alt="">
                    <span>Joyeria sostenible</span>
                </label>
            </article>

            <!-- --------------------------------------------- -->

            <section class="container-information-form">

                <div class="condition-text-header">
                    <span class="text-title">Completa la información de tu producto</span>
                    <span class="text-step">Paso 2 de 6</span>
                </div>

                <article class="form-information-items-wrapper">


                    <section class="section-1-information">

                        <div class="input-information-container">
                            <label for="nombre">Nombre del Producto:</label>
                            <input type="text" id="nombre"
                                value="<%= locals.formDataOld && formDataOld.name ? formDataOld.name : null %>"
                                name="name" class="<%= locals.errors && errors.name ? "is-invalid" : null %>">
                            <% if (locals.errors && errors.name) { %>
                            <span class="errorsCreateProduct"><%= errors.name %> </span>
                            <% } %>
                        </div>


                        <div class="input-information-container">
                            <label for="marca">Marca:</label>
                            <input type="text" id="marca"
                                value="<%= locals.formDataOld && formDataOld.brand ? formDataOld.brand : null %>"
                                name="brand" class="<%= locals.errors && errors.brand ? "is-invalid" : null %>">
                            <% if (locals.errors && errors.brand) { %>
                            <span class="errorsCreateProduct"><%= errors.brand %> </span>
                            <% } %>
                        </div>

                        <div class="input-information-container">
                            <label for="color">Color:</label>
                            <input type="text" id="color"
                                value="<%= locals.formDataOld && formDataOld.color ? formDataOld.color : null %>"
                                name="color" class="<%= locals.errors && errors.color ? "is-invalid" : null %>">
                            <% if (locals.errors && errors.color) { %>
                            <span class="errorsCreateProduct"><%= errors.color %> </span>
                            <% } %>
                        </div>

                    </section>


                    <section class="section-2-information">
                        <div class="input-information-container">
                            <label for="unidades">Unidades:</label>
                            <input type="number" id="unidades"
                                value="<%= locals.formDataOld && formDataOld.united ? formDataOld.united : null %>"
                                name="united" class="<%= locals.errors && errors.united ? "is-invalid" : null %>">
                            <% if (locals.errors && errors.united) { %>
                            <span class="errorsCreateProduct"><%= errors.united %> </span>
                            <% } %>
                        </div>

                        <div class="input-information-container">
                            <label for="discuount">Descuento</label>
                            <input type="number" id="discuount"
                                value="<%= locals.formDataOld && formDataOld.discount ? formDataOld.discount : null %>"
                                name="discount" placeholder="%"
                                class="<%= locals.errors && errors.discount ? "is-invalid" : null %>">
                            <% if (locals.errors && errors.discount) { %>
                            <span class="errorsCreateProduct"><%= errors.discount %> </span>
                            <% } %>
                        </div>

                        <div class="input-information-container">
                            <label for="material">Material:</label>
                            <div>
                                <input type="text" id="material"
                                    value="<%= locals.formDataOld && formDataOld.material ? formDataOld.material : null %>"
                                    name="material"
                                    class="<%= locals.errors && errors.material ? "is-invalid" : null %>">
                            </div>
                            <% if (locals.errors && errors.material) { %>
                            <span class="errorsCreateProduct"><%= errors.material %> </span>
                            <% } %>
                        </div>
                    </section>

                </article>

            </section>


            <!-- --------------------------------------------- -->


            <article class="form-condition-items-wrapper">
                <section class="condition-container">


                    <div class="condition-text-header">
                        <span class="text-title <%= locals.errors && errors.material ? "is-invalid" : null %>">¿Cuál es
                            la condición de tu producto?</span>
                        <span class="text-step">Paso 3 de 6</span>
                    </div>

                    <div class="condition-form">
                        <label class="estado-label">
                            <input type="radio" name="state" value="New" class="radio-input-condition"
                                <%= locals.formDataOld && formDataOld.state === 'New' ? 'checked=checked' : null %>>
                            Nuevo
                            <span class="artificial-radio"><i class="fa-regular fa-circle-check"></i></span>
                        </label>

                        <label class="estado-label">
                            <input type="radio" name="state" value="Used" class="radio-input-condition" 
                            <%= locals.formDataOld && formDataOld.state === "Used" ? 'checked=checked' : null %>>
                            Usado
                            <span class="artificial-radio"><i class="fa-regular fa-circle-check"></i></span>
                        </label>
                    </div>

                    <% if (locals.errors && errors.state) { %>
                    <span class="errorsCreateProduct"><%= errors.state %> </span>
                    <% } %>

                </section>

                <hr>


                <section class="form-create-5">
                    <div class="text-header-create-container">
                        <span class="title-step-5 <%= locals.errors && errors.image ? "is-invalid" : null %>">Completa
                            la información de tu producto</span>
                        <span class="step-5">Paso 4 de 6</span>
                        <p class="paragraph-step-5">Para no perder exposición, asegúrate de que la primera foto tenga
                            fondo
                            blanco puro creado
                            con un editor de fotos.</p>
                    </div>

                    <label for="foto"
                        class="form-dropArea-imgs <%= locals.errors && errors.image ? "inputImage-Error" : null %>">
                        <i class="fa-solid fa-camera"></i>
                        <label for="foto" class="custom-file-input">
                            <input type="file" id="foto" name="image" accept="image/*">
                        </label>
                        <% if (locals.errors && errors.image) { %>
                        <span class="errorsCreateProduct"><%= errors.image%> </span>
                        <% } %>
                    </label>
                </section>


            </article>


            <!-- ------------------------------------ -->

            <article class="form-descriptionPrice-items-wrapper">

                <section class="form-create-4">
                    <div class="text-header-create-container">
                        <span
                            class="title-step-4 <%= locals.errors && errors.description ? "is-invalid" : null %>">¿Cuál
                            es la condición de tu producto?</span>
                        <span class="step-4">Paso 5 de 6</span>
                        <p class="description-pharagraph">No incluyas datos de contacto, como e-mails, teléfonos,
                            direcciones, links ni referencias a
                            sitios
                            externos. Tampoco uses este espacio para indicar la condición de tu producto.</p>
                    </div>
                    <section>

                        <div class="description-container">
                            <textarea id="descripcion" name="description" rows="4" cols="50"
                                class="description-box <%= locals.errors && errors.description ? "textArea-Description-Error" : null %>"><%= locals.formDataOld && formDataOld.description ? formDataOld.description : null %></textarea>
                        </div>
                        <div class="div-msg-description-Error">
                            <% if (locals.errors && errors.description) { %>
                            <span class="errorsCreateProduct"><%= errors.description%>
                            </span>
                            <% } %>
                        </div>
                    </section>
                </section>

                <hr>

                <section class="form-create-6">
                    <div class="text-header-create-container">
                        <span class="title-step-6">Para terminar, definamos las condiciones de venta</span>
                        <span class="step-6">Paso 6 de 6</span>
                    </div>

                    <div class="form-image-price">

                        <div class="input-information-container">
                            <label for="precio" class="priceText">¿Cuál es el precio?</label>
                            <input type="number"
                                value="<%= locals.formDataOld && formDataOld.price ? formDataOld.price : null %>"
                                id="precio" name="price" min="0" step="0.01" placeholder="$"
                                class="<%= locals.errors && errors.price ? "is-invalid" : null %>">
                            <% if (locals.errors && errors.price) { %>
                            <span class="errorsCreateProduct"><%= errors.price%> </span>
                            <% } %>
                        </div>
                    </div>
                </section>
            </article>


            <div class="buttons-submit-step-5-6">
                <button type="submit" id="submit" class="submit-create-form-container">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
        </form>



    </main>

</body>

</html>