<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body id="body-edit-product">

    <%- include('../partials/header.ejs') %>


    <main class="main-create-category">
        <seccion class="header-create">
            <h1>Edición de producto</h1>
        </seccion>

        <form class="form-create-1" action="/products/<%= product.product_id %>/detail?_method=PUT" method="post">

            
            <div class="condition-text-header">
                <span class="text-title <%= locals.errors && errors.category ? "is-invalid" : null %>">¡Hola! cuentanos, ¿qué quieres editar?</span>
                <ul class="errors-createP-front error-category"></ul>
            </div>
            <article class="container-cards-category">


                <% locals.category.forEach((category) => { %>
                    <label class="categoryCards">
                        <input type="radio" name="category" value="<%= category.category_id %>" class="radio-input"
                            <%= category.category_id === product.category_id ? 'checked=checked' : null %>>
                        <span class="custom-radio"><i class="fa-regular fa-circle-check"></i></span>
                        <img src="/img/categories/<%= category.image %>" alt="">
                        <span><%= category.category_name %></span>
                    </label>
            <% }); %>

            </article>

            <!-- --------------------------------------------- -->

            <section class="container-information-form">

                <article class="form-information-items-wrapper">


                    <section class="section-1-information">

                        <div class="input-information-container">
                            <label for="name">Nombre del Producto:</label>
                            <input type="text" id="name" name="name" value="<%= product.name %>" >
                            <ul class="errors-createP-front error-name"></ul>
                        </div>


                        <div class="input-information-container">
                            <label for="brand">Marca:</label>
                            <select name="brand" id="brand" class="countries-select">
                                <% for (const brand of brands) { %>
                                    <option value="<%= brand.brand_id %>"><%= brand.brand_name %></option>
                                <% } %>
                            </select>
                            <ul class="errors-createP-front error-brand"></ul>
                        </div>


                        <div class="input-information-container">
                            <label for="color">Color:</label>
                            <select name="color" id="color" class="countries-select">
                                <% for (const color of colors) { %>
                                    <option value="<%= color.color_id %>"><%= color.color_name %></option>
                                <% } %>
                            </select>
                            <ul class="errors-createP-front error-color"></ul>
                        </div>


                    </section>


                    <section class="section-2-information">
                        <div class="input-information-container">
                            <label for="united">Unidades:</label>
                            <input type="number" id="united" name="united" value="<%= product.united %>">
                            <ul class="errors-createP-front error-united"></ul>
                        </div>

                        <div class="input-information-container">
                            <label for="discount">Descuento</label>
                            <input type="number" id="discount" name="discount" value="<%= parseInt(product.discount) %>"
                                placeholder="%" >
                            <ul class="errors-createP-front error-discount"></ul>
                        </div>

                        <div class="input-information-container">
                            <label for="material">Material:</label>
                            <div>
                                <input type="text" id="material" name="material" value="<%= product.material %>"
                                    >
                            </div>
                            <ul class="errors-createP-front error-material"></ul>
                        </div>
                    </section>

                </article>

            </section>


            <!-- --------------------------------------------- -->


            <article class="form-condition-items-wrapper">
                <section class="condition-container">


                    <div class="condition-text-header">
                    </div>

                    <div class="condition-form">
                        <label class="estado-label">
                            <input type="radio" name="state" value="New" class="radio-input-condition"
                                <%= product.state === 'New' ? 'checked="checked' : '' %>>
                            Nuevo
                            <span class="artificial-radio"><i class="fa-regular fa-circle-check"></i></span>
                        </label>

                        <label class="estado-label">
                            <input type="radio" name="state" value="Used" class="radio-input-condition"
                                <%= product.state === 'Used' ? 'checked="checked' : '' %>>
                            Usado
                            <span class="artificial-radio"><i class="fa-regular fa-circle-check"></i></span>
                        </label>
                    </div>
                    <ul class="errors-createP-front error-state"></ul>
                </section>

                <hr>


                <section class="form-create-5">
                    <div class="text-header-create-container">
                        <p class="paragraph-step-5">Para no perder exposición, asegúrate de que la primera foto tenga
                            fondo
                            blanco puro creado
                            con un editor de fotos.</p>
                    </div>

                    <div class="container-img-file">

                        <label for="image" class="form-dropArea-imgs">
                            <i class="fa-solid fa-camera-rotate"></i>
                            <label for="image" class="custom-file-input custom-view-edit">
                                <input type="file" id="image" name="image" accept="image/*">
                            </label>
                        </label>
                        <div><img src="/img/products/<%= product.image %>" alt="imagen del producto existente"></div>
                    </div>
                    <ul class="errors-createP-front error-image"></ul>
                </section>


            </article>


            <!-- ------------------------------------ -->

            <article class="form-descriptionPrice-items-wrapper">

                <section class="form-create-4">
                    <div class="text-header-create-container">
                        <p class="description-pharagraph">No incluyas datos de contacto, como e-mails, teléfonos,
                            direcciones, links ni referencias a
                            sitios
                            externos. Tampoco uses este espacio para indicar la condición de tu producto.</p>
                    </div>
                    <section>

                        <div class="description-container">
                            <textarea id="descripcion" name="description" rows="4" cols="50" 
                                class="description-box"><%= product.description %></textarea>
                        </div>
                        <ul class="errors-createP-front error-description"></ul>
                    </section>
                </section>

                <hr>

                <section class="form-create-6">
                    <div class="text-header-create-container">
                    </div>

                    <div class="form-image-price">

                        <div class="input-information-container">
                            <label for="price" class="priceText">¿Cuál es el precio?</label>
                            <input type="number" id="price" name="price" min="0" step="0.01"
                                value="<%= parseInt(product.price) %>"  placeholder="$">
                            <ul class="errors-createP-front error-price"></ul>
                        </div>
                    </div>
                </section>
            </article>


            <div class="buttons-submit-step-5-6">
                <button type="submit" id="submit" class="submit-create-form-container">
                    Editar producto
                </button>
            </div>
        </form>
    </main>
    <script src="/js/validations/editProductValidation.js"></script>
</body>

</html>