<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body class="body-register-user">

    <%- include('../partials/header.ejs') %>

    <main class="main-register">
        <h1>REGISTRO</h1>
        <article class="content-register-wrapper">
        <form class="form-register" action="/user/register" method="POST" enctype="multipart/form-data">
        <div class="container-max-register-flex">
            <div class="contain-info-flex-1">

                <div class="input-register">
                    <label for="first_name">Nombre:</label>
                    <input value="<%= locals.dataOld && dataOld.first_name ? dataOld.first_name : null %>" type="text"
                        id="first_name" name="first_name"
                        class="<%= locals.errors && errors.first_name ? 'login-input-invalid' : null %>">
                        <ul class="errorsLoginMsg errorFirstName"></ul>
                    <% if (locals.errors && errors.first_name) { %>
                    <span class="errorsLoginMsg"> <span><%= errors.first_name %></span> </span>
                    <% } %>
                </div>

                <div class="input-register">
                    <label for="last_name">Apellido:</label>
                    <input value="<%= locals.dataOld && dataOld.last_name ? dataOld.last_name : null %>" type="text"
                        id="last_name" name="last_name"
                        class="<%= locals.errors && errors.last_name ? 'login-input-invalid' : null %>">
                        <ul class="errorsLoginMsg error-last-name"></ul>
                    <% if (locals.errors && errors.last_name) { %>
                    <span class="errorsLoginMsg"><span><%= errors.last_name %></span> </span>
                    <% } %>
                </div>

                <div class="input-register">
                    <label for="username">Nombre de usuario:</label>
                    <input value="<%= locals.dataOld && dataOld.username ? dataOld.username : null %>" type="text"
                        id="username" name="username"
                        class="<%= locals.errors && errors.username ? 'login-input-invalid' : null %>">
                        <ul class="errorsLoginMsg error-username"></ul>
                    <% if (locals.errors && errors.username) { %>
                    <span class="errorsLoginMsg"> <span><%= errors.username %></span></span>
                    <% } %>
                </div>

                <div class="input-register">
                    <label for="email">Correo electrónico:</label>
                    <input value="<%= locals.dataOld && dataOld.email ? dataOld.email : null %>" type="text" id="email"
                        name="email" class="<%= locals.errors && errors.email ? 'login-input-invalid' : null %>">
                        <ul class="errorsLoginMsg error-email"></ul>
                    <% if (locals.errors && errors.email) { %>
                    <span class="errorsLoginMsg"> <span><%= errors.email %></span></span>
                    <% } %>
                </div>
                
                <div class="input-register">
                    <label for="password">Contraseña:</label>
                    <div class="password-contain-input">
                        <input
                            class="input-passw-register input-passw-global <%= locals.errors && errors.password ? 'login-input-invalid' : null %>"
                            type="password" id="password" name="password">
                        <div class="div-container-password-view">
                            <span class="view-password"><i class="fa-solid fa-eye"></i></span>
                            <span class="not-view-password"><i class="fa-solid fa-eye-slash"></i></span>
                        </div>
                    </div>
                    <div class="contain-security-level-password">
                        <span class="security-level"></span>
                        <span class="text-security-password"></span>
                    </div>
                        <ul class="errorsLoginMsg error-password"></ul>
                    <% if (locals.errors && errors.password) { %>
                    <span class="errorsLoginMsg"> <span><%= errors.password %></span></span>
                    <% } %>
                </div>
                
                
                
            
            </div>
            
            //asdasdsad
            <div class="contain-info-flex-2">   
                
                <div class="input-register">
                    <label for="country"
                        class="<%= locals.errors && errors.country ? 'register-input-invalid-icon' : null %>">País:</label>
                    <select name="country" id="country"
                        class="countries-select <%= locals.errors && errors.country ? "country-label-Errors" : null %>">
                        <option value="" disabled selected>Selecciona un país</option>
                        <% for (const country of countries) { %>
                        <option value="<%= country %>" <%= locals.dataOld && (country === dataOld.country) ? 'selected' : null %>><%= country %></option>
                        <% } %>
                    </select>
                    <ul class="errorsLoginMsg error-country"></ul>
                    <% if (locals.errors && errors.country) { %>
                            <span class="errorsLoginMsg"><span><%= errors.country %></span></span>
                    <% } %>
                </div>


                <div class="input-register">
                    <label for="city">Ciudad:</label>
                    <input value="<%= locals.dataOld && dataOld.city ? dataOld.city : null %>" type="text" id="city"
                        name="city" class="<%= locals.errors && errors.city ? 'login-input-invalid' : null %>">
                        <ul class="errorsLoginMsg error-city"></ul>
                    <% if (locals.errors && errors.city) { %>
                        <span class="errorsLoginMsg"> <span><%= errors.city %></span></span>
                    <% } %>
                </div>

                <div class="input-register">
                    <label for="address">Dirección:</label>
                    <input value="<%= locals.dataOld && dataOld.address ? dataOld.address : null %>" type="text"
                        id="address" name="address"
                        class="<%= locals.errors && errors.address ? 'login-input-invalid' : null %>">
                        <ul class="errorsLoginMsg error-address"></ul>
                    <% if (locals.errors && errors.address) { %>
                    <span class="errorsLoginMsg"> <span><%= errors.address %></span></span>
                    <% } %>
                </div>

                
                

                <div class="input-register ">
                    <label for="birthDate"
                        class="<%= locals.errors && errors.birthDate ? 'register-input-invalid-icon' : null %>">Fecha de nacimiento</label>
                    <input type="date" id="birthDate" name="birthDate"
                    class="<%= locals.errors && errors.birthDate ? "birthDate-input-Errors" : null %>"
                    value="<%= locals.dataOld && dataOld.birthDate ? dataOld.birthDate : null %>">
                    <ul class="errorsLoginMsg error-birth-date"></ul>
                    <% if (locals.errors && errors.birthDate) { %>
                    <span class="errorsLoginMsg"> <span><%= errors.birthDate %></span> </span>
                    <% } %>
                </div>


                <div class="input-register">
                    <label for="gender" class="<%= locals.errors && errors.gender ? 'register-input-invalid-icon' : null %>">Genero:</label>
                    <select name="gender" id="gender" class="select-gender <%= locals.errors && errors.gender ? "country-label-Errors" : null %>">
                        <option value="" selected >Selecciona un genero</option>
                        <option value="male" <%= locals.dataOld && (dataOld.gender === 'male') ? 'selected' : null %>>Masculino</option>
                        <option value="female" <%= locals.dataOld && (dataOld.gender === 'female') ? 'selected' : null %>>Femenino</option>
                    </select>
                    <ul class="errorsLoginMsg error-gender"></ul>
                    <% if (locals.errors && errors.gender) { %>
                    <span class="errorsLoginMsg"> <span><%= errors.gender %></span> </span>
                    <% } %>
                </div>
                
            </div>
        </div>

        wEFSDFSDF
        
        <section class="form-create-5  form-register-img">
                <label for="foto">Avatar</label>
                <div class="text-header-register-container">
                    <p class="paragraph-step-5">Para no perder exposición, asegúrate de que la primera foto tenga
                        fondo
                        blanco puro creado
                        con un editor de fotos.</p>
                </div>

                <div class="input-img">
                    <label for="image"
                        class="area-register-img <%= locals.errors && errors.image ? 'register-label-avatar' : null %>">
                        <i class="fa-solid fa-user-astronaut"></i>
                        <label for="image" class="custom-file-input custom-register form-dropArea-imgs-singUp">
                            <input type="file"id="image" name="image" accept="image/*">
                        </label> 
                    </label>
                    <ul class="errorsLoginMsg error-avatar"></ul>
                    <% if (locals.errors && errors.image) { %>
                    <span class="errorsLoginMsg"> <span><%= errors.image %></span> </span>
                    <% } %>

                </div>
            </section>
        
        <input class="button-register" type="submit" value="Registrarse">

                <div class="text-account-register-wrapper">
                    <a class="text-account-register" href="/user/login">¿Ya tienes una cuenta?</a>
                </div>
            </form>

        </article>

    </main>

    <!-- <%- include('../partials/footer.ejs') %> -->
    <script src="/js/validations/registerValidation.js" ></script>
    <script src="/js/script.js"></script>
</body>
</html>